*,
*::after,
*::before {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  display: flex;
  user-select: none;
  justify-content: center;

  align-items: center;

  width: 100vw;

  height: 100vh;

  flex-direction: column;

  font-family: sans-serif;

  letter-spacing: 1px;

  color: rgba(255, 255, 255, 0.4);

  background-color: rgba(0, 0, 0, 0.8);
}

.copy svg {
  height: 24px;
}

.copy {
  background-color: transparent;

  border: none;

  cursor: pointer;
}

h1 {
  margin-bottom: 10px;
}

.GeneratedPassword {
  display: flex;

  justify-content: space-between;

  flex-direction: row;

  flex-wrap: wrap;

  align-items: center;

  width: 400px;

  background-color: rgba(0, 0, 0, 0.4);

  padding: 20px;
  position: relative;
  font-size: 24px;
}

.password-container {
  width: 400px;

  background-color: rgba(0, 0, 0, 0.4);

  padding: 20px;

  font-size: 20px;

  margin-top: 15px;

  color: white;
}

.char-length {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  margin: 10px;
}

.char-length p {
  font-size: 20px !important;
}

.password-container input {
  width: 100%;
}

.password-container label {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  margin-bottom: 10px;
}

.password-container p {
  font-size: 15px;
}

.password-container .Uppercase,
.password-container .Symbols,
.password-container .Numbers,
.password-container .Lowercase {
  width: 15px;
  margin-right: 10px;
}

.char-len {
  color: rgb(52, 218, 102);
}

.text-range {
  margin-bottom: 20px;
}

.generate {
  background-color: rgb(52, 218, 102);

  border: none;

  width: 100%;

  height: 50px;

  font-size: 20px;

  font-weight: lighter;

  text-transform: uppercase;
}

.strength-box {
  margin: 15px 0;

  background-color: rgba(0, 0, 0, 0.8);

  padding: 15px 10px;

  color: rgba(255, 255, 255, 0.7);

  display: flex;

  flex-direction: row;

  justify-content: space-between;
}

.box-strength {
  display: flex;
}

.box-level {
  border: 1px solid white;

  width: 5px;

  height: 15px;

  margin: 0 3px;
}

.strength-box p {
  text-transform: uppercase;
}

.box-level.level1.active,
.box-level.level2.active,
.box-level.level3.active,
.box-level.level4.active {
  background-color: white;
}

.generate:hover {
  background-color: rgba(0, 0, 0, 0.8);

  color: rgb(52, 218, 102);

  border: 2px solid rgb(52, 218, 102);
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0px;
  background-color: rgb(52, 218, 102);
  height: 1rem;
  border-radius: 50%;
  width: 1rem;
}
input[type="checkbox"] {
  accent-color: rgb(52, 218, 102);
}

.alert {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  right: 40px;
  bottom: -25px;
  color: rgb(52, 218, 102);
  display: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .GeneratedPassword {
    width: 300px;
  }
  h1 {
    font-size: 26px;
  }
  .password-container {
    width: 300px;
  }
  .strength-box p {
    font-size: 12px;
    align-items: center;
  }
  .Password {
    font-size: 20px;
  }
}
